* {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
*:before,
*:after {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.row {
  margin: 0;
}
.container {
  width: 1250px !important;
  max-width: none !important;
  padding: 0px;
}
body {
  font-family: "Microsoft YaHei", "微软雅黑", sans-serif;
}
.icon.icon-16 {
  width: 16px;
  height: 16px;
  display: inline-block;
  background: url(../images/sprite_icon_16.png) no-repeat;
}
.icon.icon-16.icon-a {
  background-position: 0 0;
}
.icon.icon-16.icon-b {
  background-position: -16px 0;
}
.icon.icon-16.icon-c {
  background-position: -32px 0;
}
.icon.icon-16.icon-d {
  background-position: -48px 0;
}
.icon.icon-16.icon-e {
  background-position: -64px 0;
}
.icon.icon-16.icon-f {
  background-position: -80px 0;
}
.icon.icon-16.icon-g {
  background-position: -96px 0;
}
.icon.icon-16.icon-h {
  background-position: -112px 0;
}
.icon.icon-24 {
  width: 24px;
  height: 20px;
  display: inline-block;
  background: url(../images/sprite_icon_24.png) no-repeat;
}
.icon.icon-24.icon-a {
  background-position: 0 center;
}
.icon.icon-24.icon-b {
  background-position: -24px center;
}
.icon.icon-24.icon-c {
  background-position: -48px center;
}
.icon.icon-24.icon-d {
  background-position: -72px center;
}
.icon-new {
  width: 21px;
  height: 7px;
  display: inline-block;
  background: url(../images/ic_new.png) no-repeat center center;
}
.icon-up,
.icon-comment {
  height: 16px;
  width: 20px;
  display: inline-block;
  font-size: 8px;
  text-align: center;
  color: #fff;
  font-family: Arial;
  line-height: 22px;
}
.icon-up {
  background: url(../images/ic_up.png) no-repeat center 1px;
}
.icon-comment {
  background: url(../images/ic_comment.png) no-repeat center 5px;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .icon-up .webkit-badge,
  .icon-comment .webkit-badge {
    font-size: 12px;
    display: inline-block;
    -webkit-transform: scale(0.666);
    /*12×0.75= 9,translate调整位置，视具体情况*/
    letter-spacing: 1px;
    /*间距1px*/
  }
}
#header {
  height: 111px;
  border-bottom: 3px solid #3fa3ef;
}
#header .container {
  position: relative;
  height: 100%;
}
#header .container .logo {
  position: absolute;
  left: 0px;
  top: 15px;
}
#header .container .search-box {
  position: absolute;
  right: 0px;
  top: 25px;
}
#header .container .search-box .search-input {
  height: 26px;
  width: 235px;
  border: 1px solid #cccccc;
  padding-right: 22px;
  padding-left: 5px;
  font-size: 12px;
  line-height: 12px;
  font-family: "Microsoft YaHei", "微软雅黑", sans-serif;
}
#header .container .search-box .search-btn {
  position: absolute;
  border: none;
  right: 0px;
  top: 0px;
  width: 24px;
  height: 24px;
  background: url(../images/ic_search.png) no-repeat center center;
  text-indent: -10000px;
}
#header .container .top-nav {
  position: absolute;
  right: 0px;
  bottom: 0px;
}
#header .container .top-nav ul {
  list-style: none;
}
#header .container .top-nav ul li.nav-item {
  font-family: "Microsoft YaHei", "微软雅黑", sans-serif;
  color: #fff;
  list-style: none;
  float: left;
  width: 108px;
  line-height: 34px;
  margin-left: 3px;
  text-align: center;
  background: url(../images/sprite_1.png) no-repeat;
}
#header .container .top-nav ul li.nav-item:hover,
#header .container .top-nav ul li.nav-item.active {
  background-position: 0 -272px !important;
}
#header .container .top-nav ul li.nav-item a,
#header .container .top-nav ul li.nav-item a:hover {
  color: #fff;
  text-decoration: none;
}
#header .container .top-nav ul li.nav-item.nav-item-1 {
  background-position: 0 0;
}
#header .container .top-nav ul li.nav-item.nav-item-2 {
  background-position: 0 -34px;
}
#header .container .top-nav ul li.nav-item.nav-item-3 {
  background-position: 0 -68px;
}
#header .container .top-nav ul li.nav-item.nav-item-4 {
  background-position: 0 -102px;
}
#header .container .top-nav ul li.nav-item.nav-item-5 {
  background-position: 0 -136px;
}
#header .container .top-nav ul li.nav-item.nav-item-6 {
  background-position: 0 -170px;
}
#header .container .top-nav ul li.nav-item.nav-item-7 {
  background-position: 0 -204px;
}
#header .container .top-nav ul li.nav-item.nav-item-8 {
  background-position: 0 -238px;
}
#content {
  margin-top: 30px;
}
#content .col-left {
  float: left;
  min-height: 1px;
  padding-right: 20px;
  position: relative;
  width: 316px;
}
#content .col-right {
  float: left;
  min-height: 1px;
  padding-left: 20px;
  position: relative;
  width: 316px;
}
#content .col-center {
  float: left;
  min-height: 1px;
  padding: 0 20px;
  position: relative;
  width: 538px;
}
#content .col-side {
  float: left;
  min-height: 1px;
  padding-right: 20px;
  position: relative;
  width: 214px;
}
#content .col-main {
  float: left;
  min-height: 1px;
  padding-left: 20px;
  position: relative;
  width: 996px;
  margin-top: 20px;
}
#footer {
  background-color: #11467f;
  color: #fff;
  font-size: 12px;
  font-family: "Microsoft YaHei", "微软雅黑", sans-serif;
  position: relative;
  height: 144px;
  margin-top: 20px;
}
#footer .copyright {
  position: absolute;
  top: 50px;
  left: 200px;
  width: 400px;
  line-height: 2;
}
#footer .friend-link {
  position: absolute;
  text-align: right;
  top: 50px;
  right: 200px;
  width: 600px;
  font-size: 13px;
  line-height: 2;
}
#footer .friend-link a {
  color: #fff;
  margin-right: 1em;
}
.breadcrumbs {
  background: url(../images/breadcrumbs_bg.png) no-repeat left bottom;
  padding-bottom: 15px;
  text-align: right;
  color: #58595b;
}
.breadcrumbs a {
  color: #58595b;
}
.side-nav h3 {
  background-color: #548ec8;
  font-size: 16px;
  font-weight: normal;
  color: #fff;
  line-height: 42px;
  padding-left: 20px;
}
.side-nav ul {
  list-style: none;
  font-size: 14px;
  color: #333333;
  margin: 0;
  padding-left: 20px;
}
.side-nav ul li {
  line-height: 25px;
}
.side-nav ul li.active a,
.side-nav ul li:hover a {
  color: #548ec8;
  text-decoration: none;
}
.side-nav ul li ul.sub-nav li:hover a,
.side-nav ul li ul.sub-nav li.active a {
  color: #548ec8;
}
.side-nav ul li ul.sub-nav li a {
  color: #333;
}
.news-list {
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #999999;
}
.news-list li {
  border-bottom: 1px dotted #7f7f7f;
  line-height: 35px;
  position: relative;
  background: url(../images/list_style_2.png) 50px center no-repeat;
  padding-left: 60px;
}
.news-list li:before,
.news-list li:after {
  content: " ";
  display: table;
}
.news-list li:after {
  clear: both;
}
.news-list li.last {
  border-bottom: none;
}
.news-list li p.datetime {
  float: right;
  padding-right: 5em;
  color: #999999;
  margin: 0;
}
.pagination {
  margin-top: 10px;
  float: right;
}
.pagination:before,
.pagination:after {
  content: " ";
  display: table;
}
.pagination:after {
  clear: both;
}
.pagination li {
  float: left;
  border: 1px solid #e4e4e5;
  padding: 2px 8px;
  list-style: none;
  margin: 0 5px;
  cursor: pointer;
}
.pagination li.current,
.pagination li:hover {
  background-color: #548ec8;
  color: #fff;
}
.pagination li.current a,
.pagination li:hover a {
  color: #fff;
  text-decoration: none;
}
.col-right .news-box {
  margin: 20px 0;
}
.col-center .news-box {
  font-size: 13px;
  margin: 20px 0;
}
.col-center .news-box ul {
  padding: 0px;
  margin: 0px;
}
hr.split {
  border: none;
  border-bottom: 1px dotted #999;
  height: 1px;
  margin: 0;
  padding: 0;
}
.jssorb12 div,
.jssorb12 div:hover,
.jssorb12 .av {
  background: url(../images/b14.png) no-repeat;
  overflow: hidden;
  cursor: pointer;
}
.jssorb12 div {
  background-position: -7px -7px;
}
.jssorb12 div:hover,
.jssorb12 .av:hover {
  background-position: -37px -7px;
}
.jssorb12 .av {
  background-position: -67px -7px;
}
.jssorb12 .dn,
.jssorb12 .dn:hover {
  background-position: -97px -7px;
}
.jssorb03 div,
.jssorb03 div:hover,
.jssorb03 .av {
  background: url(../images/b03.png) no-repeat;
  overflow: hidden;
  cursor: pointer;
}
.jssorb03 div {
  background-position: -5px -4px;
}
.jssorb03 div:hover,
.jssorb03 .av:hover {
  background-position: -35px -4px;
}
.jssorb03 .av {
  background-position: -65px -4px;
}
.jssorb03 .dn,
.jssorb03 .dn:hover {
  background-position: -95px -4px;
}
.jssora03l,
.jssora03r,
.jssora03ldn,
.jssora03rdn {
  position: absolute;
  cursor: pointer;
  display: block;
  background: url(../images/a03.png) no-repeat;
  overflow: hidden;
}
.jssora03l {
  background-position: -3px -33px;
}
.jssora03r {
  background-position: -63px -33px;
}
.jssora03l:hover {
  background-position: -123px -33px;
}
.jssora03r:hover {
  background-position: -183px -33px;
}
.jssora03ldn {
  background-position: -243px -33px;
}
.jssora03rdn {
  background-position: -303px -33px;
}
.news-box {
  font-size: 12px;
  margin-bottom: 15px;
}
.news-box h3 {
  margin: 0;
  font-size: 16px;
  font-family: "Microsoft YaHei", "微软雅黑", sans-serif;
  font-weight: bold;
  color: #5287bd;
  margin-bottom: 10px;
}
.news-box h3 .icon {
  margin-left: 5px;
}
.news-box h3 a.more {
  font-size: 12px;
  background: url(../images/more.png) no-repeat 5px 5px;
  font-weight: normal;
  border: 1px solid #d4e3f1;
  padding: 3px 5px;
  padding-left: 15px;
  float: right;
  color: #5287bd;
}
.news-box h3 a.more:hover {
  text-decoration: none;
}
.news-box h3 .more-action {
  color: #999999;
  font-size: 14px;
  font-weight: normal;
}
.news-box h3 .more-action a {
  color: #999999;
  text-decoration: none;
}
.news-box h3 .more-action a:hover,
.news-box h3 .more-action a.active {
  color: #5287bd;
}
.news-box .banner-image {
  position: relative;
}
.news-box .banner-image p {
  position: absolute;
  background: url(../images/alpha_bg_01.png) repeat;
  color: #fff;
  font-family: "Microsoft YaHei", "微软雅黑", sans-serif;
  text-align: center;
  margin: 0px;
}
.news-box .banner-image p span {
  display: block;
  padding-top: 5px;
}
.news-box .banner-image p.vertical {
  width: 22px;
  left: 0;
  top: 0;
  height: 100%;
}
.news-box .banner-image p.horizontal {
  width: 100%;
  left: 0;
  bottom: 0;
  line-height: 20px;
  text-align: left;
  padding-left: 10px;
}
.news-box ul {
  border: 1px solid #dfdfdf;
  padding: 16px;
  list-style: none;
  margin: 0;
}
.news-box ul li {
  list-style: none;
  background: url(../images/list_style_1.png) left center no-repeat;
  padding-left: 10px;
  font-family: "Microsoft YaHei", "微软雅黑", sans-serif;
  margin-top: 10px;
}
.news-box ul li:first-child {
  margin-top: 0px;
}
.news-box ul li .icon-new {
  margin-left: 10px;
}
.news-box ul li a {
  color: #333333;
}
.news-box ul li.first {
  margin-top: 0px;
  padding-left: 0px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: none;
}
.news-box ul li.first .title-image {
  float: left;
  margin-right: 10px;
}
.news-box ul li.first p {
  line-height: 1.8;
}
.news-box ul li.first p a {
  display: block;
  color: #3fa3ef;
}
.news-box ul li.first:before,
.news-box ul li.first:after {
  content: " ";
  display: table;
}
.news-box ul li.first:after {
  clear: both;
}
.news-box ul.no-border {
  border: none;
  padding-left: 0px;
  padding-right: 0px;
}
.news-box ol {
  border: 1px solid #dfdfdf;
  padding: 16px;
  padding-left: 6px;
  list-style: none;
  margin: 0;
}
.news-box ol li {
  padding-left: 10px;
  font-family: "Microsoft YaHei", "微软雅黑", sans-serif;
  margin-top: 10px;
}
.news-box ol li strong {
  background-color: #5287bd;
  color: #fff;
  padding: 1px 5px;
  margin-right: 5px;
  font-weight: normal;
}
.news-box ol li em {
  background-color: #c4c4c4;
  color: #fff;
  padding: 1px 5px;
  font-style: normal;
  margin-right: 5px;
  font-weight: normal;
}
.news-box .section-pic {
  position: relative;
  margin-right: 15px;
  font-family: "Microsoft YaHei", "微软雅黑", sans-serif;
}
.news-box .section-pic p {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: url(../images/alpha_bg_01.png) repeat;
  color: #fff;
  width: 100%;
  line-height: 30px;
  margin: 0;
  text-align: center;
}
.news-box .tab {
  font-family: "Microsoft YaHei", "微软雅黑", sans-serif;
}
.news-box .tab:before,
.news-box .tab:after {
  content: " ";
  display: table;
}
.news-box .tab:after {
  clear: both;
}
.news-box .tab h4 {
  background: url(../images/tab_01_bg.png) repeat-x left -20px;
  height: 20px;
  width: 200px;
  color: #fff;
  font-size: 14px;
  display: inline-block;
  text-align: center;
  line-height: 20px;
  font-weight: normal;
  margin: 0;
  margin-bottom: 10px;
}
.news-box .tab h4.active {
  background-position: 0 0px;
}
.news-box .tab h4 {
  zoom: 1;
  *display: inline;
}
.enter-oa,
.enter-hr {
  height: 91px;
  display: block;
  text-align: right;
  margin-bottom: 15px;
}
.enter-oa strong,
.enter-hr strong {
  width: 103px;
  height: 100%;
  line-height: 91px;
  display: inline-block;
  text-align: center;
  background-color: #3e6c99;
  font-size: 14px;
  color: #f1f2f2;
  font-weight: normal;
}
.enter-oa {
  background: #f3f3f3 url(../images/ic_computer.png) no-repeat 80px center;
}
.enter-hr {
  background: #f3f3f3 url(../images/ic_earth.png) no-repeat 80px center;
}
.article h3 {
  font-size: 16px;
  font-weight: normal;
  text-align: center;
}
.article p {
  text-size: 13px;
  margin-left: 50px;
  margin-right: 50px;
}
.article p.subtitle {
  text-align: center;
  color: #939598;
  font-size: 12px;
}
.article p.subtitle .icon {
  vertical-align: text-top;
}
.article .more-info {
  text-align: right;
  color: #548ec8;
  font-size: 12px;
}
.article .more-info .icon {
  vertical-align: text-top;
}
.comments .comment {
  border-top: 1px solid #a9c6e3;
  margin-top: 20px;
  padding-top: 20px;
}
.comments .comment h4 {
  font-size: 16px;
  color: #548ec8;
}
.comments .comment h4 strong {
  font-weight: normal;
}
.comments .comment h4 span {
  font-size: 12px;
  color: #939598;
  margin-left: 1em;
}
.comment-form h4 {
  color: #fff;
  font-size: 16px;
  padding-left: 1em;
  background-color: #548ec8;
  line-height: 35px;
}
.comment-form input {
  height: 35px;
  width: 148px;
  line-height: 35px;
  padding: 0 10px;
}
.comment-form textarea {
  width: 100%;
  margin-top: 20px;
  height: 15em;
}
.comment-form .btn-group {
  text-align: right;
  margin-top: 1em;
}
.comment-form .btn-group button {
  border: none;
  background: url(../images/btn_01_bg.png) no-repeat center center;
  width: 62px;
  height: 36px;
  color: #fff;
  padding-left: 25px;
}
.search-result {
  font-size: 16px;
  line-height: 20px;
  margin-top: 20px;
}
.search-result span {
  color: #be0000;
}
.search-list {
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #999999;
}
.search-list li {
  border-bottom: 1px dotted #7f7f7f;
  line-height: 35px;
  position: relative;
  background: url(../images/list_style_2.png) 0px 15px no-repeat;
  padding-left: 10px;
}
.search-list li:before,
.search-list li:after {
  content: " ";
  display: table;
}
.search-list li:after {
  clear: both;
}
.search-list li.last {
  border-bottom: none;
}
.search-list li a span {
  color: #be0000;
}
.search-list li p.summary {
  font-size: 12px;
  color: #6d6f71;
  line-height: 1.5;
  padding-right: 200px;
}
.search-list li p.datetime {
  float: right;
  padding-right: 1em;
  color: #999999;
  margin: 0;
}
