@import "mixins.less";

@import "my-variables.less";

ul {
  &.pic-grid {
    list-style: none;
    margin: 0;
    padding: 0;
    letter-spacing: 0px;/*根据不同字体字号或许需要做一定的调整*/
    word-spacing: 0px;
    font-size: 0;
    li {
      display: inline-block;
      width: 215px;
      border: 1px solid #cccccc;
      text-align: center;
      padding: 7px;
      margin-right: 23px;
      margin-bottom: 25px;
      vertical-align: top;
      font-size: 12px;
      letter-spacing: normal;
      word-spacing: normal;
      display:inline-block;
      *display: inline;
      zoom:1;
      &.no-margin {
        margin-right: 0px;
      }
      .pic-wrap {
        position: relative;
        img {
          width: 213px;
        }
        p.fix-info {
          position: absolute;
          width: 100%;
          bottom: 0px;
          left: 0px;
          background: url(../images/alpha_bg_01.png) repeat;
          color: #d8d8d8;
          text-align: right;
          margin: 0px;
          line-height: 40px;
          .icon {
            margin-top: -8px;
            vertical-align: middle;
            margin-left: 5px;
          }
          span {
            margin-right: 5px;
          }
        }
      }
      p {
        margin-top: 10px;
        font-size: 12px;
      }
    }
    li {
      zoom: 1;
      _display: inline;
    }
  }
}

.pic-comment-list {
  border: 1px solid #548ec8;
  border-top: none;
  h3 {
    background-color: #548ec8;
    font-size: 18px;
    margin-bottom: 0px;
    color: #fff;
    padding-left: 1em;
    line-height: 48px;
  }
  .comment {
    padding: 0 1em;
    margin: 0 10px;
  }
}
